@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

    @font-face {
        font-family: 'Android';
        src: url('idroid.otf') format('opentype');
        font-weight: normal;
    }

* {
    margin: 0px;
    padding: 0px;
}
:root {
    --cor1:#370075 ;
    --cor2:#9B4AF7 ;
    --cor3:#7200F5 ;
    --cor4:#491D7A ;
    --cor5:#5A00C2 ;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Acme';
    --fonte-android: 'Android';
}
body {
    background-image: linear-gradient(to bottom, #7200F5, #5A00C2);
    font-family: var(--fonte-padrao);
}
header {
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor1));
    text-align: center;
    padding-top: 30px;
}
header > h1 {
    font-family: var(--fonte-destaque);
    color: white;
    margin-bottom: 20px;
    font-size: 2.6em;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.663);
    font-weight: normal;
}
header > p {
    color: white;
    max-width: 600px;
    padding-left: 5px;
    padding-right: 5px;
    margin: auto;
    font-size: 1.3em;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.663);
}
nav {
    background-color: var(--cor1);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.469);
}
nav > a:hover {
    background-color: var(--cor5);
    color: var(--cor1);
    border-radius: 5px;
}
nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.8s;
}
main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
}
p {
    margin: 15px;
    font-size: 1.2em;
    font-family: var(--fente-padrao);
    text-indent: 20px;
    line-height: 30px;
}
picture > img {
    width: 100%;
}
article > h1 {
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right,#34006f93,#7200f500 );
    margin-top: 20px;
    border-radius: 3px;
    text-indent: 7px;
    font-size: 1.6em;
    font-weight: normal;
}
article > h2 {
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right,#34006f93,#7200f500 );
    margin-top: 30px;
    border-radius: 3px;
    text-indent: 7px;
    font-size: 1.4em;
    font-weight: normal;
}
p > strong {
    font-weight: bolder;
}
p > a {
    background-image: linear-gradient(to right,#34006f93,#7200f53c);
    color: black;
    font-weight: bolder;
    border-radius: 2px;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: black;
    background-image: linear-gradient(to right,#7200f552 ,#34006f93);;
}
.bug {
    display: block;
    margin: auto;
    max-width: 350px;
}
div.video {
    background-color: var(--cor3);
    padding-bottom: 58%;
    margin: 0px 0px 30px 0px;
    position: relative;
    border-radius: 9px;
    
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside {
    background-image: linear-gradient(to bottom, #7200F5, #5b00c269);
    border-radius: 8px;
    box-shadow: 3px 3px 10px black;
}
aside > h3 {
    background-color: var(--cor1);
    border-radius: 8px 8px 0px 0px;
    padding: 10px;
    font-family: var(--fonte-padrao);
    font-size: 1.4em;
    color: white;
}
aside > ul {
    list-style-type: '\2714';
    columns: 2;
    list-style-position: inside;
    margin-left: 20px;
}
footer {
    background-color: var(--cor1);
    text-align: center;
    color: white;
    padding: 5px;
    box-shadow: 0px 0px 10px black;
    font-weight: bolder;
}
footer > p > a {
    color: white;
}
 